/yolov3-320.cfg
/yolov3-320.weights
/Resources/big-brother-cv-firebase-adminsdk-ub4bk-68309ff742.json
/Lights.py
/firebase_config.py
/big-brother-cv-firebase-adminsdk-ub4bk-68309ff742.json
/big-brother-cv-firebase-adminsdk-ub4bk-de7418174c.json!/Resources/yolo/yolov3.weights
